@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户协议</title>
</head>
<body style="background:#383735">
    <div align="center" style="padding-top:10px;">
        <img src="~/Images/agreement.jpg" height="900" usemap="#Map" />
        <map name="Map">
            <area shape="rect" coords="316,811,408,853" href="/">
            <area shape="rect" coords="525,812,617,853" href="/account/logout">
        </map>
    </div>
</body>
</html>
