<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>PK</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/main.css" rel="stylesheet" />
    <link href="~/Content/Admin/Top.css" rel="stylesheet" />
    <link href="~/Content/Admin/common.css" rel="stylesheet" />

    <script src="~/RacingMotoBetJs"></script>
    <script src="~/Scripts/AngularJs/ui-bootstrap-tpls-2.4.0.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/ngApp.js"></script>
    @RenderSection("headScripts", required: false)
    <script type="text/javascript">
        window.onload = function () {
            var olink = document.links;
            for (var i = 0; i < olink.length; i++) {
                olink[i].onmouseover = function () { window.status = ''; return true; }
                //解决.按住鼠标不松开还是会显示链接地址
                olink[i].onfocus = function () { window.status = ''; return true; }
            }
        }
    </script>
    <script language="JavaScript">
        function hidden() {
            window.status = "javascript:void(0)"
        }
        //setInterval("hidden()", 1)
    </script>
</head>
@*oncontextmenu="return false" onselectstart="return false"*@
<body ng-app="RacingMotoNgApp">
    @{
        var roleName = PKBag.LoginUser != null ? PKBag.LoginUser.UserRoles.First().Role.RoleName : "";
        var userName = PKBag.LoginUser != null ? PKBag.LoginUser.UserName : "";
        var balance = PKBag.LoginUser != null ? Math.Round(PKBag.LoginUser.UserExtension.Amount) : 0;
        var minUserRole = PKBag.LoginUser != null && PKBag.LoginUser.UserRoles != null ? PKBag.LoginUser.UserRoles.OrderBy(ur => ur.RoleId).FirstOrDefault() : null;
        var minRoleId = minUserRole != null ? minUserRole.RoleId : 99;
    }
    <div class="top">
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tbody>
                <tr>
                    <td rowspan="2" width="5%"><img src="/Images/Admin/logo.jpg" width="219" height="67" /></td>
                    <td height="10" width="95%">
                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                                <tr>
                                    <td width="15%">
                                        <span style="POSITION: relative; TOP: 2px" id="BeLine_User" class="Font_New F_bold">在线会员人数：</span>
                                        <span style="POSITION: relative; TOP: 2px" id="user_Num" class="Font_New F_bold">@PKBag.OnlineUserRecorder.GetUserCount()</span>
                                    </td>
                                    <td width="70%">
                                        <marquee style="POSITION: relative; TOP: 2px" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="5" scrolldelay="120" whdth="100%">
                                            <font style="letter-spacing:1px;color:#d8f5ff"></font>
                                        </marquee>
                                    </td>
                                    <td width="15%" height="38" class="f_right">
                                        <span style="position: relative; top: 2px; left: -7px" class="Font_New F_bold">@roleName ：@userName</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="bottom" class="c" height="26">
                        <input class="but_1" onclick="opt.showSubMenu(0);" value="即時註單" type="button" name="but_1" />
                        <input class="but_1" onclick="opt.showSubMenu(1);" value="用戶管理" type="button" name="but_2" />
                        <input class="but_1" onclick="opt.showSubMenu(2);" value="個人管理" type="button" name="but_3" />
                        <input class="but_1" onclick="opt.showSubMenu(3);" value="內部管理" type="button" name="but_4" />
                        <input class="but_1" onclick="opt.goto('report');" value="報表查詢" type="button" name="but_5" />
                        <input class="but_1" onclick="opt.goto('lottery');" value="歷史開獎" type="button" name="but_6" />
                        <input class="but_1" onclick="opt.goto('news');" value="站內消息" type="button" name="but_7" />
                        <input class="but_1" onclick="opt.goto('online');" value="在线人数" type="button" name="but_9" />
                        <input class="but_1" onclick="opt.goto('quit');" value="退 出" type="button" name="but_8" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" height="28">
                        <div class="menu-game">
                            &nbsp;
                            <input class="game" type="button" id="bST_1" name="bST_1" value="广东快乐时分" />
                            <input class="game" type="button" id="bST_2" name="bST_2" value="重庆时时彩" />
                            <input class="game-active" type="button" id="bST_3" name="bST_3" value="北京賽車(PK10)" />
                            <input class="game" type="button" id="bST_4" name="bST_4" value="江苏骰寶(快3)" />
                            <input class="game" type="button" id="bST_5" name="bST_5" value="幸运农场" />
                            <input class="game" type="button" id="bST_6" name="bST_6" value="快樂8(雙盤)" />
                        </div>
                        <div id="a_span" style="position:absolute;top:70px;left:610px;">
                            <a href="/Account/LoginRecord">登錄日記</a>
                            <span style="float:left;"><img src="/images/admin/main_34.gif" width="1" height:23px="" /></span>
                            <a href="/Account/ChangePwd">變更密碼</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="content-wrapper">
        @RenderBody()
    </div>

    <div id="loader-wrapper" ng-show="RequestCount > 0 && Loading">
        <div class="loader-with-bgimg long"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <script type="text/javascript">
        var opt = {
            MinRoleId: 99,
            Actions: ['bet', 'user/generalagent|user/agent|user/member', 'log|account/changepassword', 'rate|user/online', 'report', 'lottery', 'news', 'online', 'account'],
            SubMenus: [
                [{ Name: '前五名', Link: '/Admin/Bet/Add/1', MaxRoleId: 3 }, { Name: '后五名', Link: '/Admin/Bet/Add/2', MaxRoleId: 3 }, { Name: '大小单双', Link: '/Admin/Bet/Add/3', MaxRoleId: 3 }],
                [{ Name: '总代理', Link: '/Admin/User/GeneralAgent', MaxRoleId: 2 }, { Name: '代理', Link: '/Admin/User/Agent', MaxRoleId: 3 }, { Name: '会员', Link: '/Admin/User/Member', MaxRoleId: 4 }],
                [{ Name: '登录日志', Link: '/Admin/Log/Account', MaxRoleId: 3 }, { Name: '变更密码', Link: '/Admin/Account/ChangePassword', MaxRoleId: 3 }],
                [{ Name: '赔率设置', Link: '/Admin/Rate/Setting', MaxRoleId: 1 }, /*{ Name: '盘赔率差设置', Link: '/Admin/Rate/MinusSetting', MaxRoleId: 1 },*/ { Name: '在线会员', Link: '/Admin/User/Online/3', MaxRoleId: 3 }, { Name: '在线代理', Link: '/Admin/User/Online/2', MaxRoleId: 2 }],
            ],
            init: function (minRoleId) {
                console.log(minRoleId);
                opt.MinRoleId = minRoleId;
                // content
                var contentHeidht = $(window).height() - $('.top').height();
                $('.content-wrapper').css('height', contentHeidht);
                // menu
                var subMenuIndex = opt.getSubMenuIndex();
                opt.showSubMenu(subMenuIndex);
            },
            getSubMenuIndex: function () {
                var index = 99;
                var url = location.href.toLowerCase();
                for (var i = 0; i < opt.Actions.length; i++) {

                    var actionArr = opt.Actions[i].split('|');
                    console.log(actionArr);
                    for (var j = 0; j < actionArr.length; j++) {
                        if (url.indexOf(actionArr[j]) > -1) {
                            index = i;
                            break;
                        }
                    }
                    if (index != 99) {
                        break;
                    }
                }
                console.log(index);
                return index;
            },
            setMenu: function () {
                // menu
                $('.but_1').hover(function () {
                    $(this).addClass('but_1_m').removeClass('but_1');
                }, function () {
                    $(this).addClass('but_1').removeClass('but_1_m');
                });
                opt.setSubMenu();
            },
            showSubMenu: function (menuIndex) {
                $('#a_span').html('');
                if (menuIndex < opt.SubMenus.length) {
                    for (var i = 0; i < opt.SubMenus[menuIndex].length; i++) {
                        if (opt.MinRoleId <= opt.SubMenus[menuIndex][i].MaxRoleId) {
                            var width = opt.SubMenus[menuIndex][i].Name.length * 15;
                            var $ele = $('<a href="' + opt.SubMenus[menuIndex][i].Link + '">' + opt.SubMenus[menuIndex][i].Name + '</a>').css('width', width + 'px');
                            $('#a_span').append($ele);

                            if (i < opt.SubMenus[menuIndex].length - 1) {
                                $('#a_span').append('<span style="float:left;"><img src="/images/admin/main_34.gif" width="1" height:23px=""></span>');
                            }
                        }
                    }
                }
                opt.setSubMenu();
            },
            setSubMenu: function () {
                $('#a_span > a')
                    .hover(function () { window.status = 'javascript:void(0)'; return true; }, function () { })
                    .focus(function () { window.status = 'javascript:void(0)'; return true; });
            },
            goto: function (page) {
                $('#a_span').html('');

                var url = '';
                switch (page) {
                    case 'report': url = '/admin/report/index'; break;
                    case 'lottery': url = '/admin/lottery/index'; break;
                    case 'news': url = '/admin/news/index'; break;
                    case 'online': url = '/admin/online/index'; break;
                    case 'quit': url = '/admin/account/logout'; break;
                }
                console.log(url);
                if (url != '') {
                    location.href = url;
                }
            },
        };
        opt.init(@minRoleId);
    </script>
</body>
</html>