@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_NgLayout.cshtml";
}
@section headScripts {
    <script src="~/Scripts/Controllers/UserController.js"></script>
}

<div class="admin-wrapper" ng-controller="userController">
    <div class="pk-pwd">
        <div class="content">
            <table>
                <tr>
                    <td width="100">原始密码: </td>
                    <td>
                        <input type="password" autocomplete="off" ng-model="user.Params.OldPassword" />
                    </td>
                </tr>
                <tr>
                    <td>新设密码: </td>
                    <td>
                        <input type="password" autocomplete="off" ng-model="user.Params.NewPassword" />
                    </td>
                </tr>
                <tr>
                    <td>确认密码: </td>
                    <td>
                        <input type="password" autocomplete="off" ng-model="user.Params.ConfirmPassword" />
                    </td>
                </tr>
                <tr>
                    <td>
                        @*<a href=""><img src="/img/houtai/quxiao.png" style="margin-right: 10px;"></a>*@
                    </td>
                    <td>
                        <a href="javascript:;" ng-click="user.save();"><img src="/img/houtai/queren.png"></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>