@{
    ViewBag.Title = "历史记录";
    Layout = "~/Views/Shared/_NgLayout.cshtml";
}
@section headScripts {
    <script src="~/Scripts/Controllers/Admin/lotteryController.js"></script>
}
<style>
    .main-wrap .right .z-table a { color: #000 !important; text-decoration: none;}
    .pagination li > a{font-size:14px !important;}
</style>
<div class="gray-box" ng-controller="lotteryController" ng-init="init('@PKBag.LoginUser.UserId')">
    <table class="z-table">
        <thead>
            <tr style="background: #d5d5d5;">
                <th>序列</th>
                <th>期数</th>
                <th>开奖时间</th>
                <th style="width: 240px;">开出号码</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in pager.Results">
                <td>{{$index + 1}}</td>
                <td style="color:red;">{{item.PKNo}}</td>
                <td>{{item.EndTime | date : 'yyyy-MM-dd'}}&nbsp;&nbsp;星期{{item.Week}}&nbsp;&nbsp;{{item.EndTime | date : 'HH:mm:ss'}}</td>
                <td>
                    <div class="mingci2 bg-{{rank}}" ng-repeat="rank in item.RankArr track by $index">{{rank}}</div>
                    @*<div class="mingci2 bg-2">2</div>
                    <div class="mingci2 bg-3">3</div>
                    <div class="mingci2 bg-4">4</div>
                    <div class="mingci2 bg-5">5</div>
                    <div class="mingci2 bg-6">6</div>
                    <div class="mingci2 bg-7">7</div>
                    <div class="mingci2 bg-8">8</div>
                    <div class="mingci2 bg-9">9</div>
                    <div class="mingci2 bg-10">10</div>*@
                </td>
            </tr>
            <tr class="footer">
                <td colspan="2">共{{pager.RowCount}}条记录</td>
                <td colspan="2">
                    <div style="float:left; min-width:150px; padding:10px 5px;">
                        <input type="text" style="width:80px;height: 18px;margin-right:5px;" maxlength="12" placeholder="期数" ng-model="pager.Params.Key" />
                        <button ng-click="pager.search()">查询</button>
                        <button ng-click="pager.reset();">返回</button>
                    </div>
                    <div style="float:right; width:60%">
                        <pagination boundary-links="true" total-items="pager.RowCount" items-per-page="pager.PageSize" max-size="5" rotate="false"
                                    ng-change="pager.pageChanged()" ng-model="pager.PageIndex" class="pagination"
                                    previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页">
                        </pagination>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>