@{
    ViewBag.Title = "规则";
    Layout = "~/Views/Shared/_NgLayout.cshtml";
}

<div class="admin-wrapper">
    @*<div style="padding-top:15px;"></div>*@
    <div class="pk-rule">
        <h2>速度与激情 PK10 规则说明</h2>
        <br />
        <div class="content">
            <div>
                该游戏的投注时间、开奖时间和开奖号码与"北京速度与激情"完全同步(官方网), 北京时间(GMT+8)每天白天从
                <br />
                上午09:02开始到晚上23:52, 每10分钟开一次奖,每天开奖89期。 具体时间规则如下:
            </div>
            <div>                
                1&#126;10两面:指单、双; 大、小。    
                <br />            
                单、双 : 号码为双数叫双,如4、8;号码为单数叫单,如5、9 
                <br />
                大、小 : 开出之号码大于或等于6为大,小于或等于5为小。
            </div>
            <div>
                第一名&#126;第十名 车号指定: 每一个车号为一投注组合, 开奖结果"投注车号"对应所投名次视为中奖, 其余情形视为不中奖。
            </div>

            <div>
                冠亚和单双 : "冠亚和值"为单视为投注 "单" 的注单视为中奖, 为双规为投注 "双" 的注单视为中奖, 其余视为不中奖。                
                <br />
                冠亚和大小 : "冠亚和值"大于11时投注 "大" 的注单视为中奖, 小于或等于11时投注 "小" 的注单视为中奖, 其余视为不中奖。
            </div>
        </div>
    </div>
</div>