.board {
    width:1200px;
	height:480px;
    position:relative;
    margin: auto;
    left: 0;
    top: 0px;
    bottom: 0;
    right: 0;
    overflow: hidden;
    border: #fff 5px solid;
}

.roadbed {
    background: url(/images/road.png) repeat-x;
    width: 2400px;
    height: 480px;
    position: absolute;
    left: -1200px;
    top: 0px;
}

.road {
    width: 1200px;
    height: 480px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -160px;
}

.moto {
    z-index:1000;height:20px;width:50px;position:absolute;right:10px;
}