@{
    ViewBag.Title = "历史开奖";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section headScripts {
    <script src="~/Scripts/Controllers/admin/LotteryController.js"></script>
}
<link href="~/Content/Admin/ball_3.css" rel="stylesheet" />
<table width="100%" height="100%" border="0" cellspacing="0" class="a" ng-controller="lotteryController" ng-init="init()">
    <tbody>
        <tr>
            <td width="6" height="99%" bgcolor="#4E4E4E"></td>
            <td class="c">
                <table border="0" cellspacing="0" class="main">
                    <tbody>
                        <tr>
                            <td width="12"><img src="/images/admin/tab_03.gif" alt=""></td>
                            <td background="/images/admin/tab_05.gif">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td width="17"><img src="/images/admin/tb.gif" width="16" height="16"></td>
                                            <td width="95%" style="font-weight:bold;">&nbsp;歷史開獎結果</td>
                                            <td width="4%">
                                                @*<select id="caizhong" style="color:#344B50;" width="10" onchange="selectHistory(this)">
                                                    <option value="1">廣東快樂十分</option>
                                                    <option value="2">重慶時時彩</option>
                                                    <option value="3" selected="selected">北京賽車(PK10)</option>
                                                    <option value="4">江苏骰寶(快3)</option>
                                                    <option value="5">幸运农场</option>
                                                    <option value="6">快樂8(北京)</option>
                                                </select>*@
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td width="16"><img src="/images/admin/tab_07.gif" alt=""></td>
                        </tr>
                        <tr>
                            <td class="t"></td>
                            <td class="c">
                                <!-- strat -->
                                <table border="0" cellspacing="0" class="t_odds_1" width="480">
                                    <tbody>
                                        <tr class="tr_top">
                                            <td width="56">期數</td>
                                            <td width="136">開獎時間</td>
                                            <td colspan="10" width="290">開出號碼</td>
                                        </tr>
                                        <tr class="td_text history-row" ng-repeat="item in pager.Results">
                                            <td width="56" style="font-family:微软雅黑, Tahoma, Arial; font-size:13px">{{item.PKNo}}</td>
                                            <td width="126" style="font-family:微软雅黑, Tahoma, Arial; font-size:13px">{{item.EndTime | date : 'MM-dd'}}&nbsp;&nbsp;日&nbsp;&nbsp;{{item.EndTime | date : 'HH:mm:ss'}}</td>
                                            <td width="29" class="No_{{rank}}" height="27px" style="padding-right:0px" ng-repeat="rank in item.RankArr track by $index"></td>
                                            @*<td width="29" class="No_4" style="padding-right:0px"></td>
                                            <td width="29" class="No_5" style="padding-right:0px"></td>
                                            <td width="29" class="No_3" style="padding-right:0px"></td>
                                            <td width="29" class="No_1" style="padding-right:0px"></td>
                                            <td width="29" class="No_10" style="padding-right:0px"></td>
                                            <td width="29" class="No_9" style="padding-right:0px"></td>
                                            <td width="29" class="No_8" style="padding-right:0px"></td>
                                            <td width="29" class="No_7" style="padding-right:0px"></td>
                                            <td width="29" class="No_2" style="padding-right:0px"></td>*@
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- end -->
                            </td>
                            <td class="r"></td>
                        </tr>
                        <tr>
                            <td width="12"><img src="/images/admin/tab_18.gif" alt=""></td>
                            <td class="f">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td width="30%">&nbsp;&nbsp;共&nbsp;<b>2415</b>&nbsp;條記錄&nbsp;&nbsp;</td>
                                            <td width="30%">&nbsp;&nbsp;共&nbsp;161&nbsp;頁&nbsp;&nbsp;</td>
                                            <td width="40">
                                                @*前一頁『&nbsp;1&nbsp;&nbsp;<a style="cursor: pointer" onclick="location.href = '/Manage/temp/Lottery_Result.aspx?&amp;page=2';">2</a>&nbsp;&nbsp;<a style="cursor: pointer" onclick="location.href = '/Manage/temp/Lottery_Result.aspx?&amp;page=3';">3</a>&nbsp;&nbsp;<a style="cursor: pointer" onclick="location.href = '/Manage/temp/Lottery_Result.aspx?&amp;page=4';">4</a>&nbsp;&nbsp;<a style="cursor: pointer" onclick="location.href = '/Manage/temp/Lottery_Result.aspx?&amp;page=5';">5</a>&nbsp;』&nbsp;&nbsp;<a style="cursor: pointer" onclick="location.href = '/Manage/temp/Lottery_Result.aspx?&amp;page=2';">后一頁</a>&nbsp;&nbsp;*@
                                                @*&nbsp;&nbsp;共&nbsp;<b>1</b>&nbsp;條記錄&nbsp;&nbsp;&nbsp;&nbsp;每頁顯示<b>1</b>條，本頁<b>1-1</b>條&nbsp;&nbsp;前一頁『&nbsp;1&nbsp;』*@

                                                <pagination boundary-links="true" total-items="pager.RowCount" items-per-page="pager.PageSize" max-size="5" rotate="false"
                                                            ng-change="pager.pageChanged()" ng-model="pager.PageIndex" class="pagination"
                                                            previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页">
                                                </pagination>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td width="16"><img src="/images/admin/tab_20.gif" alt=""></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td width="6" bgcolor="#4E4E4E"></td>
        </tr>
        <tr>
            <td height="6" bgcolor="#4E4E4E"></td>
            <td bgcolor="#4E4E4E"></td>
            <td height="6" bgcolor="#4E4E4E"></td>
        </tr>
    </tbody>
</table>