@using Racing.Moto.Services.Constants
@model Racing.Moto.Data.Entities.AppConfig
@{
    ViewBag.Title = "AppConfig";
}

<div class="row">
    <div class="col-md-4">
        <h2>PK Job Run Allowable</h2>
        <p>当前状态: <span id="pkAllowable">@Model.Value</span></p>
        <p>
            <button class="btn btn-success" id="btnAllow">Allow</button>
            <button class="btn btn-danger" id="btnDisallow">Disallow</button>
        </p>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#btnAllow").click(function () {
            Save(true);
        })
        $("#btnDisallow").click(function () {
            Save(false);
        })
        function Save(val) {
            var config = {
                Name: '@DBConst.RacingMoto_Run_Allowable',
                Value: val
            };
            $.post('/home/SaveAppConfig', config, function (res) {
                if (res.Success) {
                    $('#pkAllowable').text(config.Value);
                }
            })
        }
    })
</script>