@{ 
    var menus = PKBag.Menus != null ? PKBag.Menus : new List<Racing.Moto.Data.Entities.Menu>();
    var rootMenus = menus.Where(m => m.ParentMenuId == null).ToList();

    var pkMenu = menus.Where(m => m.MenuName == "速度与激情").FirstOrDefault();
    var pMenuId = pkMenu != null ? pkMenu.MenuId : 0;
    var pkChildMenus = menus.Where(m => m.ParentMenuId == pMenuId).ToList();
}
<ul class="sub-menu">
@for (var i = 0; i < pkChildMenus.Count; i++)
{
    var index = i + 1;
    <li class="menu-@index"><a href="@pkChildMenus[i].MenuUrl">@pkChildMenus[i].MenuName</a></li>
}
</ul>

<script type="text/javascript">
    $(function () {
        var menu = {
            init: function () {
                menu.setMenu();
            },
            setMenu: function () {
                var href = location.href.toLowerCase();
                for (var i = 1; i <= 5; i++) {
                    var aHref = $('.menu-' + i + ' > a').attr('href').toLowerCase();
                    // menu: main-menu
                    if (href.indexOf(aHref) > -1) {
                        $('.menu-' + i).addClass('on');
                    } else {
                        $('.menu-' + i).removeClass('on');
                    }
                }
            },
        };

        menu.init();
    })
</script>