@{ 
    var menus = PKBag.Menus != null ? PKBag.Menus : new List<Racing.Moto.Data.Entities.Menu>();
    var rootMenus = menus.Where(m => m.ParentMenuId == null).ToList();
}
<ul class="main-menu top">
@for (var i = 0; i < rootMenus.Count; i++)
{
    var index = i + 1;
    <li class="menu-@index"><a href="@rootMenus[i].MenuUrl">@rootMenus[i].MenuName</a></li>
}
</ul>

@for (var i = 0; i < rootMenus.Count; i++)
{
    var index = i + 1;
    var childMenus = menus.Where(m => m.ParentMenuId == rootMenus[i].MenuId).ToList();
    <ul class="tab-new hide sub-menu-@index">
        @foreach (var menu in childMenus)
        {
            <li><a href="@menu.MenuUrl">@menu.MenuName</a></li>
        }
    </ul>
}

<script type="text/javascript">
    $(function () {
        var menu = {
            init: function () {
                menu.setMenu();
            },
            setMenu: function () {
                var href = location.href.toLowerCase();
                for (var i = 1; i <= 5; i++) {
                    var aHref = $('.menu-' + i + ' > a').attr('href').toLowerCase();
                    // menu: main-menu
                    if (href.indexOf(aHref) > -1) {
                        $('.menu-' + i).addClass('on');
                    } else {
                        $('.menu-' + i).removeClass('on');
                    }
                }
            },
            //hover: function () {
            //    $('.main-menu > li').hover(function (evt) {
            //        $('.main-menu > li').each(function () {
            //            $(this).removeClass('on');
            //        });
            //        $(this).addClass('on');

            //        // sub menu
            //        resetSubMenu()
            //    },function () {
            //    });
            //},
        };

        menu.init();
    })
</script>