@{
    ViewBag.Title = "首页";
}

<a href="javascript:;" class="chuji"><img src="/img/chuji.png"></a>
<a href="javascript:;" class="zhongji"><img src="/img/zhongji.png"></a>
<a href="javascript:;" class="gaoji"><img src="/img/gaoji.png"></a>
<a href="#" class="dianji"><img src="/img/dianji.png"></a>
<a href="#" class="gaoji-bg">&nbsp;</a>

<div class="car-model">
    <img src="/img/car-model.png" />
</div>
<div class="girl-model">
    <img src="/img/girl-model.png" height="570">
</div>