@{
    ViewBag.Title = string.Format("在線{0}查看", ViewBag.UserTypeName);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headScripts {
    <script src="~/Scripts/Controllers/admin/OnlineController.js"></script>
}

<table width="100%" height="100%" border="0" cellspacing="0" class="a" ng-controller="userTypeOnlineController" ng-init="init('@ViewBag.UserType')">
    <tbody>
        <tr>
            <td width="6" height="99%" bgcolor="#4E4E4E"></td>
            <td class="c">
                <table border="0" cellspacing="0" class="main">
                    <tbody>
                        <tr>
                            <td width="12"><img src="/images/admin/tab_03.gif" alt=""></td>
                            <td background="/images/admin/tab_05.gif">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td width="17"><img src="/images/admin/tb.gif" width="16" height="16"></td>
                                            <td width="99%">&nbsp;在線<span>@ViewBag.UserTypeName</span>查看</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td width="16"><img src="/images/admin/tab_07.gif" alt=""></td>
                        </tr>
                        <tr>
                            <td class="t"></td>
                            <td class="c">
                                <table border="0" cellspacing="0" class="conter">
                                    <tbody>
                                        <tr class="tr_top">
                                            <td width="200"><span>@ViewBag.UserTypeName</span>名</td>
                                            <td width="223">在線状态</td>
                                            <td width="421">登录时间</td>
                                            <td width="421">登录IP/地址</td>
                                        </tr>
                                        <tr style="height: 28px;" ng-repeat="item in pager.Results">
                                            <td align="center">{{item.UserName}}</td>
                                            <td class="left_p6"><img src="/images/admin/onlie.gif">在線</td>
                                            <td class="left_p6">{{item.LoginTime | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
                                            <td class="left_p6">{{item.ClientIP}}</td>
                                        </tr>
                                        <tr ng-show="pager.RowCount == 0">
                                            <td align="center" colspan="4">暫無代理在線</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td class="r"></td>
                        </tr>
                        <tr>
                            <td width="12"><img src="/images/admin/tab_18.gif" alt=""></td>
                            <td class="f" align="right">
                                @*&nbsp;&nbsp;共&nbsp;<b>1</b>&nbsp;條記錄&nbsp;&nbsp;&nbsp;&nbsp;每頁顯示<b>1</b>條，本頁<b>1-1</b>條&nbsp;&nbsp;前一頁『&nbsp;1&nbsp;』*@

                                <pagination boundary-links="true" total-items="pager.RowCount" items-per-page="pager.PageSize" max-size="10" rotate="false"
                                            ng-change="pager.pageChanged()" ng-model="pager.PageIndex" class="pagination"
                                            previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页">
                                </pagination>
                            </td>
                            <td width="16"><img src="/images/admin/tab_20.gif" alt=""></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td width="6" bgcolor="#4E4E4E"></td>
        </tr>
        <tr>
            <td height="6" bgcolor="#4E4E4E"></td>
            <td bgcolor="#4E4E4E"></td>
            <td height="6" bgcolor="#4E4E4E"></td>
        </tr>
    </tbody>
</table>

