<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>速度与激情</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/main.css" rel="stylesheet" />
    <link href="~/Content/Admin/Top.css" rel="stylesheet" />
    <link href="~/Content/Admin/common.css" rel="stylesheet" />

    <script src="~/RacingMotoBetJs"></script>
    <script src="~/Scripts/AngularJs/angular-ui-bootstrap.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/ngApp.js"></script>
    @RenderSection("headScripts", required: false)
    <script type="text/javascript">
        window.onload = function () {
            var olink = document.links;
            for (var i = 0; i < olink.length; i++) {
                olink[i].onmouseover = function () { window.status = ''; return true; }
                //解决.按住鼠标不松开还是会显示链接地址
                olink[i].onfocus = function () { window.status = ''; return true; }
            }
        }
    </script>
    <script language="JavaScript">
        function hidden() {
            window.status = "javascript:void(0)"
        }
        //setInterval("hidden()", 1)
    </script>
</head>
@*oncontextmenu="return false" onselectstart="return false"*@
<body ng-app="RacingMotoNgApp">
    @{
        var roleName = PKBag.LoginUser != null ? PKBag.LoginUser.UserRoles.First().Role.RoleName : "";
        var userName = PKBag.LoginUser != null ? PKBag.LoginUser.UserName : "";
        var balance = PKBag.LoginUser != null ? Math.Round(PKBag.LoginUser.UserExtension.Amount) : 0;
        var minUserRole = PKBag.LoginUser != null && PKBag.LoginUser.UserRoles != null ? PKBag.LoginUser.UserRoles.OrderBy(ur => ur.RoleId).FirstOrDefault() : null;
        var minRoleId = minUserRole != null ? minUserRole.RoleId : 99;
    }
    <div class="top">
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tbody>
                <tr>
                    <td rowspan="2" width="5%"><img src="/img/houtai/logo.png" width="219" height="67" /></td>
                    <td height="10" width="95%">
                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tbody>
                                <tr>
                                    <td width="15%">
                                        <span style="POSITION: relative; TOP: 2px" id="BeLine_User" class="Font_New F_bold">在线会员人数：</span>
                                        <span style="POSITION: relative; TOP: 2px" id="user_Num" class="Font_New F_bold">@PKBag.OnlineUserRecorder.GetUserCount()</span>
                                    </td>
                                    <td width="70%">
                                        <marquee style="POSITION: relative; TOP: 2px" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="5" scrolldelay="120" whdth="100%">
                                            <font style="letter-spacing:1px;color:#d8f5ff"></font>
                                        </marquee>
                                    </td>
                                    <td width="15%" height="38" class="f_right">
                                        <span style="position: relative; top: 2px; left: -7px" class="Font_New F_bold">@roleName ：@userName</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="bottom" class="c" height="26">
                        <input class="but_1" onclick="$pkAdmin.showSubMenu(0);" value="即時註單" type="button" name="but_1" />
                        <input class="but_1" onclick="$pkAdmin.showSubMenu(1);" value="用戶管理" type="button" name="but_2" />
                        <input class="but_1" onclick="$pkAdmin.showSubMenu(2);" value="個人管理" type="button" name="but_3" />
                        <input class="but_1" onclick="$pkAdmin.showSubMenu(3);" value="內部管理" type="button" name="but_4" />
                        <input class="but_1" onclick="$pkAdmin.goto('report');" value="報表查詢" type="button" name="but_5" />
                        <input class="but_1" onclick="$pkAdmin.goto('lottery');" value="歷史開獎" type="button" name="but_6" />
                        <input class="but_1" onclick="$pkAdmin.goto('news');" value="站內消息" type="button" name="but_7" />
                        <input class="but_1" onclick="$pkAdmin.goto('online');" value="在线人数" type="button" name="but_9" />
                        <input class="but_1" onclick="$pkAdmin.goto('quit');" value="退 出" type="button" name="but_8" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" height="28">
                        <div class="menu-game">
                            &nbsp;
                            <input class="game" type="button" id="bST_1" name="bST_1" value="广东快乐时分" />
                            <input class="game" type="button" id="bST_2" name="bST_2" value="重庆时时彩" />
                            <input class="game-active" type="button" id="bST_3" name="bST_3" value="速度与激情" />
                            <input class="game" type="button" id="bST_4" name="bST_4" value="江苏骰寶(快3)" />
                            <input class="game" type="button" id="bST_5" name="bST_5" value="幸运农场" />
                            <input class="game" type="button" id="bST_6" name="bST_6" value="快樂8(雙盤)" />
                        </div>
                        <div id="a_span" style="position:absolute;top:70px;left:610px;">
                            <a href="/Account/LoginRecord">登錄日記</a>
                            <span style="float:left;"><img src="/images/admin/main_34.gif" width="1" height="23" /></span>
                            <a href="/Account/ChangePwd">變更密碼</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="content-wrapper">
        @RenderBody()
    </div>

    <div id="loader-wrapper" ng-show="RequestCount > 0 && Loading">
        <div class="loader-with-bgimg long"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <link href="~/Scripts/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/datetimepicker/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/datetimepicker/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/Scripts/admin.js"></script>
    <script type="text/javascript">
        $pkAdmin.init(@minRoleId);
    </script>
</body>
</html>