@{
    ViewBag.Title = "首页";
}
<script src="/Scripts/jquery.signalR-2.2.1.js"></script>
<script src="/signalr/hubs"></script>
<script src="~/Scripts/jquery.easing.1.3.js"></script>
<script src="~/Scripts/jquery.floatingBg.js"></script>
<link href="~/Content/racing.css" rel="stylesheet" />

@Scripts.Render("~/Racing")
<div>
    <h1>ASP.NET SignalR Sample</h1>

    <h2>实时推送</h2>
    <div id="stockTable"></div>

    <div class="board">
        <div id="roadBg" class="roadbed roadRun"  bg="/images/road.png"></div>
        <div id="motos"></div>
        @*<div class="road"></div>*@
    </div>
</div>