.No_1 {
	BACKGROUND-IMAGE: url(/images/admin/ball_3.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_2 {
	BACKGROUND-IMAGE: url(/images/admin/ball_3.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_3 {
	BACKGROUND-IMAGE: url(/images/admin/ball_3.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_4 {
	BACKGROUND-IMAGE: url(/images/admin/ball_3.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_5 {
	BACKGROUND-IMAGE: url(/images/admin/ball_3.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_6 {
	BACKGROUND-IMAGE: url(/images/admin/ball_3.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_7 {
	BACKGROUND-IMAGE: url(/images/admin/ball_3.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_8 {
	BACKGROUND-IMAGE: url(/images/admin/ball_3.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_9 {
	BACKGROUND-IMAGE: url(/images/admin/ball_3.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_10 {
	BACKGROUND-IMAGE: url(/images/admin/ball_3.gif); BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center
}
.No_1 {
	BACKGROUND-POSITION: 0px 0px;
	width:26px;
}
.No_2 {
	BACKGROUND-POSITION: 0px -26px;
	width:26px;
}
.No_3 {
	BACKGROUND-POSITION: 0px -54px;
	width:26px;
}
.No_4 {
	BACKGROUND-POSITION: 0px -81px;
	width:26px;
}
.No_5 {
	BACKGROUND-POSITION: 0px -108px;
	width:26px;
}
.No_6 {
	BACKGROUND-POSITION: 0px -135px;
	width:26px;
}
.No_7 {
	BACKGROUND-POSITION: 0px -162px;
	width:26px;
}
.No_8 {
	BACKGROUND-POSITION: 0px -189px;
	width:26px;
}
.No_9 {
	BACKGROUND-POSITION: 0px -216px;
	width:26px;
}
.No_10 {
	BACKGROUND-POSITION: 0px -243px;
	width:26px;
}
 