@{
    ViewBag.Title = "公告管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headScripts {
    @Scripts.Render("~/Scripts/UEditor/ueditor.config.js")
    @Scripts.Render("~/Scripts/UEditor/ueditor.all.min.js")
    <script src="~/Scripts/Controllers/admin/NewsController.js"></script>
    <script type="text/javascript">
        window.UEDITOR_HOME_URL = '@Url.Content("/Scripts/UEditor/")';
    </script>
}

<div class="admin-wrapper" ng-controller="annoucementController" ng-init="init()">
    <div class="xiugai">
        <div class="a"><a href="javascript:;">公告</a></div>
        <div class="b"><a href="/PK/NewsMarquee">跑马灯</a></div>
        <div class="c">&nbsp;</div>
        <div class="d">&nbsp;</div>
        <a href="javascript:;" class="e" ng-click="news.revert()">
            <img src="/img/houtai/huifuyuanlai.png">
        </a>
        <a href="javascript:;" class="f" ng-click="news.save()">
            <img src="/img/houtai/querenxiugai.png">
        </a>
        <div class="clear"></div>
    </div>
    <div style="background: #d5d5d5;">
        <textarea id = "PostContent" style="width:972px; height:490px" ng-model="news.Data.PostContent"></textarea>
    </div>

</div>

