@{
    ViewBag.Title = "交收报表";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    var parentUser = ViewBag.ParentUser as Racing.Moto.Data.Entities.User;
    var userName = parentUser != null ? parentUser.UserName : "";
}

@section headScripts {
    <script src="~/Scripts/Controllers/admin/ReportController.js"></script>
}
<table width="100%" height="100%" border="0" cellspacing="0" class="a" ng-controller="reportListController" ng-init="init('@ViewBag.SearchParams')">
    <tbody>
        <tr>
            <td width="6" height="99%" bgcolor="#4E4E4E"></td>
            <td class="c">
                <table border="0" cellspacing="0" class="main">
                    <tbody>
                        <tr>
                            <td width="12"><img src="/images/admin/tab_03.gif" alt=""></td>
                            <td background="/images/admin/tab_05.gif">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td width="17"><img src="/images/admin/tb.gif" width="16" height="16"></td>
                                            <td width="60%">&nbsp;代理(@userName) - 交收報表</td>
                                            <td width="35%">
                                                <span ng-show="pager.Params.SearchType == 2">按日期查詢：{{pager.Params.FromDate | date : 'yyyy-MM-dd'}} -- {{pager.Params.ToDate | date : 'yyyy-MM-dd'}}</span>
                                                <span ng-show="pager.Params.SearchType == 1">按期數:</span>
                                            </td>
                                            <td width="18"><img src="/images/admin/fh.gif"></td>
                                            <td width="30"><a href="javascript:history.go(-1);" class="font_r F_bold">返囬</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td width="16"><img src="/images/admin/tab_07.gif" alt=""></td>
                        </tr>
                        <tr>
                            <td class="t"></td>
                            <td class="c">
                                <!-- strat -->
                                <table border="0" cellspacing="0" class="conter">
                                    <tbody>
                                        <tr class="tr_top">
                                            <td>会员</td>
                                            <td>筆數</td>
                                            <td><b>有效金額</b></td>
                                            <td>會員輸贏</td>
                                            <td>應收下綫</td>
                                            <td width="70">實占成數</td>
                                            <td>實占註額</td>
                                            <td>實占輸贏</td>
                                            <td>實占退水</td>
                                            <td>實占結果</td>
                                            <td>賺取水錢</td>
                                            @*<td>賺水后結果</td>*@
                                            <td>貢獻上級</td>
                                            <td>應付上級</td>
                                        </tr>
                                        <tr style="height: 26px;" onmouseover="this.style.backgroundColor='#FFFFA2'" onmouseout="this.style.backgroundColor=''" align="center"
                                            ng-repeat="item in pager.Results">
                                            <td>
                                                <a class="tt" target="_blank" href="/Admin/Report/Bets/{{item.UserId}}/@ViewBag.QueryString">{{item.UserName}}</a>
                                            </td>
                                            <td>{{item.BetCount}}</td>
                                            <td>{{item.BetAmount}}</td>
                                            <td>{{item.MemberWinOrLoseAmount}}</td>
                                            <td>{{item.ReceiveAmount}}</td>
                                            <td>0%</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>{{item.RebateAmount}}</td>
                                            <td class="bg_b">{{item.ContributeHigherLevelAmount}}</td>
                                            <td class="bg_b">{{item.PayHigherLevelAmount}}</td>
                                        </tr>
                                        <tr align="center" class="bg_a">
                                            <td align="right">合計：</td>
                                            <td>{{pager.Statistics.BetCount}}</td>
                                            <td>{{pager.Statistics.BetAmount}}</td>
                                            <td>{{pager.Statistics.MemberWinOrLoseAmount}}</td>
                                            <td>{{pager.Statistics.ReceiveAmount}}</td>
                                            <td>--</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>{{pager.Statistics.RebateAmount}}</td>
                                            <td>{{pager.Statistics.ContributeHigherLevelAmount}}</td>
                                            <td>{{pager.Statistics.PayHigherLevelAmount}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- end -->
                            </td>
                            <td class="r"></td>
                        </tr>
                        <tr style="display:none;">
                            <td width="12"><img src="/images/admin/tab_18.gif" alt=""></td>
                            <td class="f yu">
                                占成結果：<font color="red">0</font>&nbsp;&nbsp;/&nbsp;&nbsp;
                                賺取退水：<font color="#0000FF">0</font>&nbsp;&nbsp;/&nbsp;&nbsp;
                                抵扣補貨及賺水后結果：<font color="red">-17505</font>&nbsp;&nbsp;/&nbsp;&nbsp;
                                應付上級：<font color="#009933">16558.5</font>
                            </td>
                            <td width="16"><img src="/images/admin/tab_20.gif" alt=""></td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </td>
            <td width="6" bgcolor="#4E4E4E"></td>
        </tr>
        <tr>
            <td height="6" bgcolor="#4E4E4E"></td>
            <td bgcolor="#4E4E4E"></td>
            <td height="6" bgcolor="#4E4E4E"></td>
        </tr>
    </tbody>
</table>