@{
    ViewBag.Title = "代理";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section headScripts {
    <script src="~/Scripts/Controllers/admin/LogController.js"></script>
}

<table width="100%" height="100%" border="0" cellspacing="0" class="a" ng-controller="loginRecordController" ng-init="init()">
    <tbody>
        <tr>
            <td width="6" height="99%" bgcolor="#4E4E4E"></td>
            <td class="c">
                <table border="0" cellspacing="0" class="main">
                    <tbody>
                        <tr>
                            <td width="12"><img src="/images/admin/tab_03.gif" alt=""></td>
                            <td background="/images/admin/tab_05.gif">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td width="17"><img src="/images/admin/tb.gif" width="16" height="16"></td>
                                            <td width="93%" style="font-weight:bold;">&nbsp;登錄日誌</td>
                                            <td width="18"><</td>
                                            <td width="30"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td width="16"><img src="/images/admin/tab_07.gif" alt=""></td>
                        </tr>
                        <tr>
                            <td class="t"></td>
                            <td class="c">
                                <!-- strat -->
                                <table border="0" cellspacing="0" class="conter">
                                    <tbody>
                                        <tr class="tr_top">
                                            <td width="40">ID</td>
                                            <td>登陸時間</td>
                                            <td>IP</td>
                                            <td>IP歸屬</td>
                                        </tr>
                                        <tr align="center tr-row" ng-repeat="item in pager.Results">
                                            <td align="center">{{$index + 1}}</td>
                                            <td align="center">{{item.LoginTime | date : 'yyyy-MM-dd : HH:mm:ss'}}</td>
                                            <td align="center">{{item.IP}}</td>
                                            <td align="center">{{item.Address}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- end -->
                            </td>
                            <td class="r"></td>
                        </tr>
                        <tr>
                            <td width="12"><img src="/images/admin/tab_18.gif" alt=""></td>
                            <td class="f" align="right">
                                <pagination boundary-links="true" total-items="pager.RowCount" items-per-page="pager.PageSize" max-size="10" rotate="false"
                                            ng-change="pager.pageChanged()" ng-model="pager.PageIndex" class="pagination"
                                            previous-text="上一页" next-text="下一页" first-text="首页" last-text="末页">
                                </pagination>
                            </td>
                            <td width="16"><img src="/images/admin/tab_20.gif" alt=""></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td width="6" bgcolor="#4E4E4E"></td>
        </tr>
        <tr>
            <td height="6" bgcolor="#4E4E4E"></td>
            <td bgcolor="#4E4E4E"></td>
            <td height="6" bgcolor="#4E4E4E"></td>
        </tr>
    </tbody>
</table>