@{
    ViewBag.Title = "分类报表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section headScripts {
    <script src="~/Scripts/Controllers/admin/ReportController.js"></script>
}
<table width="100%" height="100%" border="0" cellspacing="0" class="a" ng-controller="reportListController" ng-init="init('@ViewBag.SearchParams')">
    <tbody>
        <tr>
            <td width="6" height="99%" bgcolor="#4E4E4E"></td>
            <td class="c">
                <table border="0" cellspacing="0" class="main">
                    <tbody>
                        <tr>
                            <td width="12"><img src="/images/admin/tab_03.gif" alt=""></td>
                            <td background="/images/admin/tab_05.gif">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td width="17"><img src="/images/admin/tb.gif" width="16" height="16"></td>
                                            <td width="60%">&nbsp;总公司 - 分类報表</td>
                                            <td width="35%">
                                                <span ng-show="opt.Params.SearchType == 2">按日期查詢：{{opt.Params.FromDate | date : 'yyyy-MM-dd'}} -- {{opt.Params.ToDate | date : 'yyyy-MM-dd'}}</span>
                                                <span ng-show="opt.Params.SearchType == 1">按期數: {{opt.Params.PKId}}</span>
                                            </td>
                                            <td width="18"><img src="/images/admin/fh.gif"></td>
                                            <td width="30"><a href="javascript:history.go(-1);" class="font_r F_bold">返囬</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td width="16"><img src="/images/admin/tab_07.gif" alt=""></td>
                        </tr>
                        <tr>
                            <td class="t"></td>
                            <td class="c">
                                <!-- strat -->
                                <table border="0" cellspacing="0" class="conter">
                                    <tbody>
                                        <tr class="tr_top">
                                            <td>下註纇型</td>
                                            <td>筆</td>
                                            <td>總下註金額</td>
                                            <td>會員輸贏</td>
                                            <td>應收下綫</td>
                                            <td>實占成数</td>
                                            <td>實占註額</td>
                                            <td>占貨比%</td>
                                            <td>實占輸贏</td>
                                            <td>實占退水</td>
                                            <td>實占結果</td>
                                            <td>賺取水錢</td>
                                            <td>賺水后結果</td>
                                            <td>貢獻上級</td>
                                            <td>應付上級</td>
                                        </tr>
                                        <tr style="height: 26px;" onmouseover="this.style.backgroundColor='#FFFFA2'" onmouseout="this.style.backgroundColor=''" align="center"
                                            ng-repeat="item in opt.Results">
                                            <td>速度与激情 - {{opt.getRankName(item.Num)}}</td>
                                            <td>{{item.BetCount}}</td>
                                            <td>{{item.BetAmount}}</td>
                                            <td>{{item.MemberWinOrLoseAmount}}</td>
                                            <td>{{item.ReceiveAmount}}</td>
                                            <td>100</td>
                                            <td>{{item.BetAmount}}</td>
                                            <td> -- </td>
                                            <td>{{item.MemberWinOrLoseAmount}}</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>

                                        <tr align="center" class="bg_a">
                                            <td colspan="1" align="right">合計：</td>
                                            <td>{{opt.Statistics.BetCount}}</td>
                                            <td>{{opt.Statistics.BetAmount}}</td>
                                            <td>{{opt.Statistics.MemberWinOrLoseAmount}}</td>
                                            <td>{{opt.Statistics.ReceiveAmount}}</td>
                                            <td>--</td>
                                            <td>{{item.BetAmount}}</td>
                                            <td>--</td>
                                            <td>{{item.MemberWinOrLoseAmount}}</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td>0</td>
                                            <td><b>0</b></td>
                                            <td>0</td>
                                            <td>0</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- end -->
                            </td>
                            <td class="r"></td>
                        </tr>
                        <tr>
                            <td width="12"><img src="/images/admin/tab_18.gif" alt=""></td>
                            <td class="f yu"></td>
                            <td width="16"><img src="/images/admin/tab_20.gif" alt=""></td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </td>
            <td width="6" bgcolor="#4E4E4E"></td>
        </tr>
        <tr>
            <td height="6" bgcolor="#4E4E4E"></td>
            <td bgcolor="#4E4E4E"></td>
            <td height="6" bgcolor="#4E4E4E"></td>
        </tr>
    </tbody>
</table>