@{
    ViewBag.Title = "竞技场";
}
@section headScripts {
    <link href="~/Scripts/JqueryUI/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/JqueryUI/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/timeCountDown.js"></script>
    @Scripts.Render("~/Racing")
}
<input type="hidden" id="hidUserId" value="@PKBag.LoginUser.UserId" />

<div class="game-wrap">
    <div class="bg-top">
        <div class="shishi" id="ranks">
            <div style="margin-left:184px;">&nbsp;</div>
            <div class="shishi-1 color-1">1</div>
            <div class="shishi-2 color-2">2</div>
            <div class="shishi-3 color-3">3</div>
            <div class="shishi-4 color-4">4</div>
            <div class="shishi-5 color-5">5</div>
            <div class="shishi-6 color-6">6</div>
            <div class="shishi-7 color-7">7</div>
            <div class="shishi-8 color-8">8</div>
            <div class="shishi-9 color-9">9</div>
            <div class="shishi-10 color-10">10</div>
        </div>
    </div>
    <div class="saidao">
        <div class="time-run"><img id="countdown" /></div>
        <div class="time-run">
            <span id="hour"></span>:<span id="minute"></span>:<span id="second"></span>
        </div>
        @*start flag*@
        <div class="start-flag">
            <div class="road-num"></div>
            <div class="start"></div>
            <img src="/img/zhu-a.png" class="zhu-a" />
        </div>
        @*end flag*@
        <div class="end-flag">
            <div class="end"></div>
            <img src="/img/zhu-a.png" class="zhu-a" />
        </div>

        <div class="car-list">
            <img src="/img/moto-10.png" class="car-10" alt="10" />
            <img src="/img/moto-9.png" class="car-9" alt="9" />
            <img src="/img/moto-8.png" class="car-8" alt="8" />
            <img src="/img/moto-7.png" class="car-7" alt="7" />
            <img src="/img/moto-6.png" class="car-6" alt="6" />
            <img src="/img/moto-5.png" class="car-5" alt="5" />
            <img src="/img/moto-4.png" class="car-4" alt="4" />
            <img src="/img/moto-3.png" class="car-3" alt="3" />
            <img src="/img/moto-2.png" class="car-2" alt="2" />
            <img src="/img/moto-1.png" class="car-1" alt="1" />
        </div>
        @*start flag*@
        <div class="start-flag">
            <img src="/img/zhu-b.png" class="zhu-b" />
            <img src="/img/wang.png" class="wang" />
        </div>
        @*end flag*@
        <div class="end-flag">
            <img src="/img/zhu-b.png" class="zhu-b" />
            <img src="/img/wang.png" class="wang" />
        </div>
        <div class="saiqi hide">
            <img src="/img/saiqi.png">
        </div>
    </div>
</div>

<div id="racingResult" title="比赛结果">
    <ul>
        <li>
            <span>第一名</span>
            <span>1</span>
        </li>
        <li>
            <span>第一名</span>
            <span>1</span>
        </li>
    </ul>
</div>

<div id="bonusResult" class="dialog-wrap hide">
    <a href="javacript:;" class="close"><img src="/img/del.png"></a>
    <a href="javacript:;" class="queding"><img src="/img/btn-queding.png"></a>
    <div class="huodejiangjin">获得奖金：</div>
    <div class="jieguo">
        <div class="text">结果</div>
        <div class="shishi z-shishi">
            <div class="shishi-1 lv-se">1</div>
            <div class="shishi-2 hong-se">2</div>
            <div class="shishi-3 zi-se">3</div>
            <div class="shishi-4 juhuang-se">4</div>
            <div class="shishi-5 danhong-se">5</div>
            <div class="shishi-6 shenlan-se">6</div>
            <div class="shishi-7 tianlan-se">7</div>
            <div class="shishi-8 lan-se">8</div>
            <div class="shishi-9 huang-se">9</div>
            <div class="shishi-10 he-se">10</div>
        </div>
    </div>
    <div class="jieguo-2">
        <ul>
            <li>
                <span>【第四名】</span>
                <span style="margin-left: 20px;">(2号)</span>
                <span style="margin-left: 20px;">获胜奖金：1000</span>
            </li>
            <li>
                <span>【第四名】</span>
                <span style="margin-left: 20px;">(2号)</span>
                <span style="margin-left: 20px;">获胜奖金：1000</span>
            </li>
        </ul>
    </div>
</div>