@{
    ViewBag.Title = "投注";
    Layout = "~/Views/Shared/_BetLayout.cshtml";
}
@section headScripts {
    <script src="~/Scripts/Controllers/betController.js"></script>
}
<div ng-controller="betController" ng-init="init()">
    <div class="top">
        <span class="pk">全民PK拾</span>
        <div class="rightB">
            <span class="num">第555555期</span>
            <span class="shalou">
                <img src="/img/houtai/sahlou.png">
            </span>
            <span class="time">00:02:46</span>
        </div>
    </div>
    <ul class="tab">
        <li>
            <a href="" class="on">猜名次(前五名)</a>
        </li>
        <li>
            <a href="">猜名次(后五名)</a>
        </li>
        <li>
            <a href="">猜大小单双</a>
        </li>
        <div class="clear"></div>
    </ul>
    <div class="thead">{{bet.CurrentTab.Name}}</div>

    <div ng-show="bet.CurrentTab == 1">
        <table class="z-table" ng-repeat="item in bet.PKRates | filter : bet.getTopFive">
            <tr>
                <td class="bg-gray" rowspan='2'>第{{bet.Charaters[item.Rank - 1]}}名</td>
                <td>
                    <div class="mingci bg-huang">1</div>
                    <div class="value" ng-bind="item.Number1">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
                <td>
                    <div class="mingci bg-lan">2</div>
                    <div class="value" ng-bind="item.Number2">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
                <td>
                    <div class="mingci bg-juhuang">3</div>
                    <div class="value" ng-bind="item.Number3">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
                <td>
                    <div class="mingci bg-lv" ng-bind="item.Number4">4</div>
                    <div class="value">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
                <td>
                    <div class="mingci bg-zi" ng-bind="item.Number5">5</div>
                    <div class="value">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
            </tr>
            <tr>
                <td>
                    <div class="mingci bg-qianzi" ng-bind="item.Number6">6</div>
                    <div class="value">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
                <td>
                    <div class="mingci bg-danhong" ng-bind="item.Number7">7</div>
                    <div class="value">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
                <td>
                    <div class="mingci bg-tianlan" ng-bind="item.Number8">8</div>
                    <div class="value">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
                <td>
                    <div class="mingci bg-hei" ng-bind="item.Number9">9</div>
                    <div class="value">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
                <td>
                    <div class="mingci bg-hong" ng-bind="item.Number10">10</div>
                    <div class="value">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
            </tr>
        </table>
    </div>
    <div ng-show="bet.CurrentTab == 2">
        <table class="z-table" ng-repeat="item in bet.PKRates | filter : bet.getLastFive">
            <tr>
                <td class="bg-gray" rowspan='2'>第{{bet.Charaters[item.Rank - 1]}}名</td>
                <td>
                    <div class="mingci bg-huang">1</div>
                    <div class="value" ng-bind="item.Number1">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
                <td>
                    <div class="mingci bg-lan">2</div>
                    <div class="value" ng-bind="item.Number2">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
                <td>
                    <div class="mingci bg-juhuang">3</div>
                    <div class="value" ng-bind="item.Number3">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
                <td>
                    <div class="mingci bg-lv" ng-bind="item.Number4">4</div>
                    <div class="value">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
                <td>
                    <div class="mingci bg-zi" ng-bind="item.Number5">5</div>
                    <div class="value">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
            </tr>
            <tr>
                <td>
                    <div class="mingci bg-qianzi" ng-bind="item.Number6">6</div>
                    <div class="value">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
                <td>
                    <div class="mingci bg-danhong" ng-bind="item.Number7">7</div>
                    <div class="value">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
                <td>
                    <div class="mingci bg-tianlan" ng-bind="item.Number8">8</div>
                    <div class="value">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
                <td>
                    <div class="mingci bg-hei" ng-bind="item.Number9">9</div>
                    <div class="value">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
                <td>
                    <div class="mingci bg-hong" ng-bind="item.Number10">10</div>
                    <div class="value">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
            </tr>
        </table>
    </div>
    <div ng-show="bet.CurrentTab == 3">
        <table class="z-table" ng-repeat="item in bet.PKRates | filter : bet.getBSOE">
            <tr>
                <td class="bg-gray" rowspan='2'>第一名</td>
                <td>
                    <div class="mingci bg-huang">大</div>
                    <div class="value" ng-bind="item.Big">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
                <td>
                    <div class="mingci bg-lan">小</div>
                    <div class="value" ng-bind="item.Small">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
                <td>
                    <div class="mingci bg-juhuang">单</div>
                    <div class="value" ng-bind="item.Odd">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
                <td>
                    <div class="mingci bg-lv">双</div>
                    <div class="value" ng-bind="item.Even">9.7</div>
                    <input type="text" name="" class="shuru">
                </td>
            </tr>
        </table>
    </div>

    <div class="touzhu-1">
        <div style="margin-left: 250px;">未投注方案<span>3</span>注</div>
        <div style="margin-left: 100px; margin-right: 80px;">投注金额<span>125.00</span></div>
        <a href="">
            <img src="/img/houtai/lijitouzhu.png" class="lijitouzhu">
        </a>
    </div>
    <ul class="z-list">
        <li>
            <span>【前五名】</span>
            <span class="a">第四名</span>
            <span class="b">【6号】</span>
            <span class="c">赔率：9.7</span>
            <span class="d">下注金额：5.00</span>
            <span class="e">获胜奖金：45.00</span>
            <span class="f">未下注</span>
            <a href=""><img src="/img/houtai/del.png"></a>
        </li>
        <li>
            <span>【前五名】</span>
            <span class="a">第四名</span>
            <span class="b">【16号】</span>
            <span class="c">赔率：19.7</span>
            <span class="d">下注金额：115.00</span>
            <span class="e">获胜奖金：45555.00</span>
            <span class="f">已下注</span>
            <a href=""><img src="/img/houtai/del.png"></a>
        </li>
        <li>
            <span>【前五名】</span>
            <span class="a">第四名</span>
            <span class="b">【6号】</span>
            <span class="c">赔率：9.7</span>
            <span class="d">下注金额：5.00</span>
            <span class="e">获胜奖金：45.00</span>
            <span class="f">未下注</span>
            <a href=""></a>
        </li>
        <li>
            <span>【前五名】</span>
            <span class="a">第四名</span>
            <span class="b">【16号】</span>
            <span class="c">赔率：19.7</span>
            <span class="d">下注金额：115.00</span>
            <span class="e">获胜奖金：45555.00</span>
            <span class="f">已下注</span>
            <a href=""></a>
        </li>
        <li>
            <span>【前五名】</span>
            <span class="a">第四名</span>
            <span class="b">【6号】</span>
            <span class="c">赔率：9.7</span>
            <span class="d">下注金额：5.00</span>
            <span class="e">获胜奖金：45.00</span>
            <span class="f">未下注</span>
            <a href=""></a>
        </li>
        <li>
            <span>【前五名】</span>
            <span class="a">第四名</span>
            <span class="b">【16号】</span>
            <span class="c">赔率：19.7</span>
            <span class="d">下注金额：115.00</span>
            <span class="e">获胜奖金：45555.00</span>
            <span class="f">已下注</span>
            <a href=""></a>
        </li>
    </ul>
    <div class="touzhu-2">
        <div>
            已投注方案<span>2</span>注
        </div>
        <div style="margin-left: 70px;">投注金额：<span>60.00</span></div>
    </div>

</div>
