@{
    ViewBag.Title = "投注";
    Layout = "~/Views/Shared/_NgLayout.cshtml";
}
@section headScripts {
    <script src="~/Scripts/Controllers/betController.js"></script>
}
<div ng-controller="betController" ng-init="init()">
    <div class="top">
        <span class="pk">全民PK拾</span>
        <div class="rightB">
            <span class="num">第555555期</span>
            <span class="shalou">
                <img src="/img/houtai/sahlou.png">
            </span>
            <span class="time">00:02:46</span>
        </div>
    </div>
    <ul class="tab">
        <li ng-repeat="item in bet.Tabs">
            <a href="javascript:;" ng-class="{true: 'on', false: ''}[bet.CurrentTab == item.ID]" ng-click="bet.CurrentTab = item.ID" ng-bind="item.Name">猜名次(前五名)</a>
        </li>
        <div class="clear"></div>
    </ul>
    <div class="thead">{{bet.CurrentTab.Name}}</div>

    <div ng-show="bet.CurrentTab == 1">
        <table class="z-table" ng-repeat="item in bet.TopFive">
            <tr>
                <td class="bg-gray" rowspan='2'>第{{bet.ChineseNums[item.Rank - 1]}}名</td>
                <td>
                    <div class="mingci bg-huang">1</div>
                    <div class="value" ng-bind="item.Number1">9.7</div>
                    <input type="text" class="shuru" ng-model="item.Amount1">
                </td>
                <td>
                    <div class="mingci bg-lan">2</div>
                    <div class="value" ng-bind="item.Number2">9.7</div>
                    <input type="text" class="shuru" ng-model="item.Amount2">
                </td>
                <td>
                    <div class="mingci bg-juhuang">3</div>
                    <div class="value" ng-bind="item.Number3">9.7</div>
                    <input type="text" class="shuru" ng-model="item.Amount3">
                </td>
                <td>
                    <div class="mingci bg-lv">4</div>
                    <div class="value" ng-bind="item.Number4">9.7</div>
                    <input type="text" class="shuru" ng-model="item.Amount4">
                </td>
                <td>
                    <div class="mingci bg-zi">5</div>
                    <div class="value" ng-bind="item.Number5">9.7</div>
                    <input type="text" class="shuru" ng-model="item.Amount5">
                </td>
            </tr>
            <tr>
                <td>
                    <div class="mingci bg-qianzi">6</div>
                    <div class="value" ng-bind="item.Number6">9.7</div>
                    <input type="text" class="shuru" ng-model="item.Amount6">
                </td>
                <td>
                    <div class="mingci bg-danhong">7</div>
                    <div class="value" ng-bind="item.Number7">9.7</div>
                    <input type="text" class="shuru" ng-model="item.Amount7">
                </td>
                <td>
                    <div class="mingci bg-tianlan">8</div>
                    <div class="value" ng-bind="item.Number8">9.7</div>
                    <input type="text" class="shuru" ng-model="item.Amount8">
                </td>
                <td>
                    <div class="mingci bg-hei">9</div>
                    <div class="value" ng-bind="item.Number9">9.7</div>
                    <input type="text" class="shuru" ng-model="item.Amount9">
                </td>
                <td>
                    <div class="mingci bg-hong">10</div>
                    <div class="value" ng-bind="item.Number10">9.7</div>
                    <input type="text" class="shuru" ng-model="item.Amount10">
                </td>
            </tr>
        </table>
    </div>
    <div ng-show="bet.CurrentTab == 2">
        <table class="z-table" ng-repeat="item in bet.LastFive">
            <tr>
                <td class="bg-gray" rowspan='2'>第{{bet.ChineseNums[item.Rank - 1]}}名</td>
                <td>
                    <div class="mingci bg-huang">1</div>
                    <div class="value" ng-bind="item.Number1">9.7</div>
                    <input type="text" class="shuru" ng-model="item.Amount1">
                </td>
                <td>
                    <div class="mingci bg-lan">2</div>
                    <div class="value" ng-bind="item.Number2">9.7</div>
                    <input type="text" class="shuru" ng-model="item.Amount2">
                </td>
                <td>
                    <div class="mingci bg-juhuang">3</div>
                    <div class="value" ng-bind="item.Number3">9.7</div>
                    <input type="text" class="shuru" ng-model="item.Amount3">
                </td>
                <td>
                    <div class="mingci bg-lv">4</div>
                    <div class="value" ng-bind="item.Number4">9.7</div>
                    <input type="text" class="shuru" ng-model="item.Amount4">
                </td>
                <td>
                    <div class="mingci bg-zi">5</div>
                    <div class="value" ng-bind="item.Number5">9.7</div>
                    <input type="text" class="shuru" ng-model="item.Amount5">
                </td>
            </tr>
            <tr>
                <td>
                    <div class="mingci bg-qianzi">6</div>
                    <div class="value" ng-bind="item.Number6">9.7</div>
                    <input type="text" class="shuru" ng-model="item.Amount6">
                </td>
                <td>
                    <div class="mingci bg-danhong">7</div>
                    <div class="value" ng-bind="item.Number7">9.7</div>
                    <input type="text" class="shuru" ng-model="item.Amount7">
                </td>
                <td>
                    <div class="mingci bg-tianlan">8</div>
                    <div class="value" ng-bind="item.Number8">9.7</div>
                    <input type="text" class="shuru" ng-model="item.Amount8">
                </td>
                <td>
                    <div class="mingci bg-hei">9</div>
                    <div class="value" ng-bind="item.Number9">9.7</div>
                    <input type="text" class="shuru" ng-model="item.Amount9">
                </td>
                <td>
                    <div class="mingci bg-hong">10</div>
                    <div class="value" ng-bind="item.Number10">9.7</div>
                    <input type="text" class="shuru" ng-model="item.Amount10">
                </td>
            </tr>
        </table>
    </div>
    <div ng-show="bet.CurrentTab == 3">
        <table class="z-table" ng-repeat="item in bet.BSOE">
            <tr>
                <td class="bg-gray" rowspan='2'>第{{bet.ChineseNums[item.Rank - 1]}}名</td>
                <td>
                    <div class="mingci bg-huang">大</div>
                    <div class="value" ng-bind="item.Big">9.7</div>
                    <input type="text" class="shuru" ng-model="item.BigAmount">
                </td>
                <td>
                    <div class="mingci bg-lan">小</div>
                    <div class="value" ng-bind="item.Small">9.7</div>
                    <input type="text" class="shuru" ng-model="item.SmallAmount">
                </td>
                <td>
                    <div class="mingci bg-juhuang">单</div>
                    <div class="value" ng-bind="item.Odd">9.7</div>
                    <input type="text" class="shuru" ng-model="item.OddAmount">
                </td>
                <td>
                    <div class="mingci bg-lv">双</div>
                    <div class="value" ng-bind="item.Even">9.7</div>
                    <input type="text" class="shuru" ng-model="item.EvenAmount">
                </td>
            </tr>
        </table>
    </div>

    <div class="touzhu-1">
        <div style="margin-left: 250px;">未投注方案<span ng-bind="140 - bet.Bets.length">3</span>注</div>
        <div style="margin-left: 100px; margin-right: 80px;">投注金额<span ng-bind="">125.00</span></div>
        <a href="javascript:;" ng-click="bet.save()">
            <img src="/img/houtai/lijitouzhu.png" class="lijitouzhu">
        </a>
    </div>

    <div ng-show="bet.Bets.length > 0">
        <ul class="z-list">
            <li ng-repeat="item in bet.Bets">
                <span ng-bind="item.ShortName">【前五名】</span>
                <span class="a" ng-bind="item.ChineseRank">第四名</span>
                <span class="b">【{{item.Num}}号】</span>
                <span class="c">赔率：{{item.Rate}}</span>
                <span class="d">下注金额：{{item.Amount}}</span>
                <span class="e">获胜奖金：{{item.Bonus}}</span>
                <span class="f">已下注</span>
                <a href="javascript:;"></a>
            </li>
            <li class="hide">
                <span>【前五名】</span>
                <span class="a">第四名</span>
                <span class="b">【6号】</span>
                <span class="c">赔率：9.7</span>
                <span class="d">下注金额：5.00</span>
                <span class="e">获胜奖金：45.00</span>
                <span class="f">未下注</span>
                <a href="javascript:;"><img src="/img/houtai/del.png" class="hide"></a>
            </li>
        </ul>
        <div class="touzhu-2">
            <div>
                已投注方案<span>2</span>注
            </div>
            <div style="margin-left: 70px;">投注金额：<span>60.00</span></div>
        </div>
    </div>

</div>
