@{
    ViewBag.Title = "投注";
    Layout = "~/Views/Shared/_NgLayout.cshtml";
}
@section headScripts {
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/Controllers/betController.js"></script>
}
<div ng-controller="betController" ng-init="init('@PKBag.LoginUser.UserId')">
    <div class="top">
        <span class="pk">速度与激情</span>
        <div class="rightB">
            <span class="num">第{{bet.PKModel.PK.PKId}}期</span>
            <span class="shalou">
                <img src="/img/houtai/sahlou.png" />
            </span>
            <span class="time">
                <span id="hour"></span>:<span id="minute"></span>:<span id="second"></span>
            </span>
        </div>
    </div>
    <ul class="tab">
        <li ng-repeat="item in bet.Tabs">
            <a href="javascript:;" ng-class="{true: 'on', false: ''}[bet.CurrentTab == item.ID]" ng-click="bet.CurrentTab = item.ID" ng-bind="item.Name">猜名次(前五名)</a>
        </li>
        <div class="clear"></div>
    </ul>
    <div class="thead">{{bet.CurrentTab.Name}}</div>

    <div ng-show="bet.CurrentTab == 1" disable-elements="bet.Disabled">
        <table class="z-table" ng-repeat="item in bet.TopFive">
            <tr>
                <td class="bg-gray" rowspan='2'>第{{bet.ChineseNums[item.Rank - 1]}}名</td>
                <td>
                    <div class="mingci bg-huang">1</div>
                    <div class="value" ng-bind="item.Rate1">9.7</div>
                    <input type="text" class="shuru {{item.BgColor1}}" ng-model="item.Amount1" ng-change="bet.betOnChange(item, 1, item.Amount1)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false" 
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen1" ng-focus="quickBet.showPopover(item, 1)" ng-blur="quickBet.hideAllPopover()" />
                </td>
                <td>
                    <div class="mingci bg-lan">2</div>
                    <div class="value" ng-bind="item.Rate2">9.7</div>
                    <input type="text" class="shuru {{item.BgColor2}}" ng-model="item.Amount2" ng-change="bet.betOnChange(item, 2, item.Amount2)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false"  
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen2" ng-focus="quickBet.showPopover(item, 2)" ng-blur="quickBet.hideAllPopover()" />
                </td>
                <td>
                    <div class="mingci bg-juhuang">3</div>
                    <div class="value" ng-bind="item.Rate3">9.7</div>
                    <input type="text" class="shuru {{item.BgColor3}}" ng-model="item.Amount3" ng-change="bet.betOnChange(item, 3, item.Amount3)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false"  
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen3" ng-focus="quickBet.showPopover(item, 3)" ng-blur="quickBet.hideAllPopover()" />
                </td>
                <td>
                    <div class="mingci bg-lv">4</div>
                    <div class="value" ng-bind="item.Rate4">9.7</div>
                    <input type="text" class="shuru {{item.BgColor4}}" ng-model="item.Amount4" ng-change="bet.betOnChange(item, 4, item.Amount4)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false"  
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen4" ng-focus="quickBet.showPopover(item, 4)" ng-blur="quickBet.hideAllPopover()" />
                </td>
                <td>
                    <div class="mingci bg-zi">5</div>
                    <div class="value" ng-bind="item.Rate5">9.7</div>
                    <input type="text" class="shuru {{item.BgColor5}}" ng-model="item.Amount5" ng-change="bet.betOnChange(item, 5, item.Amount5)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false"  
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen5" ng-focus="quickBet.showPopover(item, 5)" ng-blur="quickBet.hideAllPopover()" />
                </td>
            </tr>
            <tr>
                <td>
                    <div class="mingci bg-qianzi">6</div>
                    <div class="value" ng-bind="item.Rate6">9.7</div>
                    <input type="text" class="shuru {{item.BgColor6}}" ng-model="item.Amount6" ng-change="bet.betOnChange(item, 6, item.Amount6)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false"  
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen6" ng-focus="quickBet.showPopover(item, 6)" ng-blur="quickBet.hideAllPopover()" />
                </td>
                <td>
                    <div class="mingci bg-danhong">7</div>
                    <div class="value" ng-bind="item.Rate7">9.7</div>
                    <input type="text" class="shuru {{item.BgColor7}}" ng-model="item.Amount7" ng-change="bet.betOnChange(item, 7, item.Amount7)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false"  
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen7" ng-focus="quickBet.showPopover(item, 7)" ng-blur="quickBet.hideAllPopover()" />
                </td>
                <td>
                    <div class="mingci bg-tianlan">8</div>
                    <div class="value" ng-bind="item.Rate8">9.7</div>
                    <input type="text" class="shuru {{item.BgColor8}}" ng-model="item.Amount8" ng-change="bet.betOnChange(item, 8, item.Amount8)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false"  
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen8" ng-focus="quickBet.showPopover(item, 8)" ng-blur="quickBet.hideAllPopover()" />
                </td>
                <td>
                    <div class="mingci bg-hei">9</div>
                    <div class="value" ng-bind="item.Rate9">9.7</div>
                    <input type="text" class="shuru {{item.BgColor9}}" ng-model="item.Amount9" ng-change="bet.betOnChange(item, 9, item.Amount9)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false"  
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen9" ng-focus="quickBet.showPopover(item, 9)" ng-blur="quickBet.hideAllPopover()" />
                </td>
                <td>
                    <div class="mingci bg-hong">10</div>
                    <div class="value" ng-bind="item.Rate10">9.7</div>
                    <input type="text" class="shuru {{item.BgColor10}}" ng-model="item.Amount10" ng-change="bet.betOnChange(item, 10, item.Amount10)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false"  
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen10" ng-focus="quickBet.showPopover(item, 10)" ng-blur="quickBet.hideAllPopover()" />
                </td>
            </tr>
        </table>
    </div>
    <div ng-show="bet.CurrentTab == 2" disable-elements="bet.Disabled">
        <table class="z-table" ng-repeat="item in bet.LastFive">
            <tr>
                <td class="bg-gray" rowspan='2'>第{{bet.ChineseNums[item.Rank - 1]}}名</td>
                <td>
                    <div class="mingci bg-huang">1</div>
                    <div class="value" ng-bind="item.Rate1">9.7</div>
                    <input type="text" class="shuru {{item.BgColor1}}" ng-model="item.Amount1" ng-change="bet.betOnChange(item, 1, item.Amount1)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false"  
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen1" ng-focus="quickBet.showPopover(item, 1)" ng-blur="quickBet.hideAllPopover()" />
                </td>
                <td>
                    <div class="mingci bg-lan">2</div>
                    <div class="value" ng-bind="item.Rate2">9.7</div>
                    <input type="text" class="shuru {{item.BgColor2}}" ng-model="item.Amount2" ng-change="bet.betOnChange(item, 2, item.Amount2)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false"  
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen2" ng-focus="quickBet.showPopover(item, 2)" ng-blur="quickBet.hideAllPopover()" />
                </td>
                <td>
                    <div class="mingci bg-juhuang">3</div>
                    <div class="value" ng-bind="item.Rate3">9.7</div>
                    <input type="text" class="shuru {{item.BgColor3}}" ng-model="item.Amount3" ng-change="bet.betOnChange(item, 3, item.Amount3)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false"  
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen3" ng-focus="quickBet.showPopover(item, 3)" ng-blur="quickBet.hideAllPopover()" />
                </td>
                <td>
                    <div class="mingci bg-lv">4</div>
                    <div class="value" ng-bind="item.Rate4">9.7</div>
                    <input type="text" class="shuru {{item.BgColor4}}" ng-model="item.Amount4" ng-change="bet.betOnChange(item, 4, item.Amount4)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false"  
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen4" ng-focus="quickBet.showPopover(item, 4)" ng-blur="quickBet.hideAllPopover()" />
                </td>
                <td>
                    <div class="mingci bg-zi">5</div>
                    <div class="value" ng-bind="item.Rate5">9.7</div>
                    <input type="text" class="shuru {{item.BgColor5}}" ng-model="item.Amount5" ng-change="bet.betOnChange(item, 5, item.Amount5)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false"  
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen5" ng-focus="quickBet.showPopover(item, 5)" ng-blur="quickBet.hideAllPopover()" />
                </td>
            </tr>
            <tr>
                <td>
                    <div class="mingci bg-qianzi">6</div>
                    <div class="value" ng-bind="item.Rate6">9.7</div>
                    <input type="text" class="shuru {{item.BgColor6}}" ng-model="item.Amount6" ng-change="bet.betOnChange(item, 6, item.Amount6)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false"  
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen6" ng-focus="quickBet.showPopover(item, 6)" ng-blur="quickBet.hideAllPopover()" />
                </td>
                <td>
                    <div class="mingci bg-danhong">7</div>
                    <div class="value" ng-bind="item.Rate7">9.7</div>
                    <input type="text" class="shuru {{item.BgColor7}}" ng-model="item.Amount7" ng-change="bet.betOnChange(item, 7, item.Amount7)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false"  
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen7" ng-focus="quickBet.showPopover(item, 7)" ng-blur="quickBet.hideAllPopover()" />
                </td>
                <td>
                    <div class="mingci bg-tianlan">8</div>
                    <div class="value" ng-bind="item.Rate8">9.7</div>
                    <input type="text" class="shuru {{item.BgColor8}}" ng-model="item.Amount8" ng-change="bet.betOnChange(item, 8, item.Amount8)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false"  
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen8" ng-focus="quickBet.showPopover(item, 8)" ng-blur="quickBet.hideAllPopover()" />
                </td>
                <td>
                    <div class="mingci bg-hei">9</div>
                    <div class="value" ng-bind="item.Rate9">9.7</div>
                    <input type="text" class="shuru {{item.BgColor9}}" ng-model="item.Amount9" ng-change="bet.betOnChange(item, 9, item.Amount9)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false"  
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen9" ng-focus="quickBet.showPopover(item, 9)" ng-blur="quickBet.hideAllPopover()" />
                </td>
                <td>
                    <div class="mingci bg-hong">10</div>
                    <div class="value" ng-bind="item.Rate10">9.7</div>
                    <input type="text" class="shuru {{item.BgColor10}}" ng-model="item.Amount10" ng-change="bet.betOnChange(item, 10, item.Amount10)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false"  
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen10" ng-focus="quickBet.showPopover(item, 10)" ng-blur="quickBet.hideAllPopover()" />
                </td>
            </tr>
        </table>
    </div>
    <div ng-show="bet.CurrentTab == 3" disable-elements="bet.Disabled">
        <table class="z-table" ng-repeat="item in bet.BSOE">
            <tr>
                <td class="bg-gray" rowspan='2'>第{{bet.ChineseNums[item.Rank - 1]}}名</td>
                <td>
                    <div class="mingci bg-huang">大</div>
                    <div class="value" ng-bind="item.Rate11">9.7</div>
                    <input type="text" class="shuru {{item.BgColor11}}" ng-model="item.Amount11" ng-change="bet.betOnChange(item, 11, item.Amount11)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false" 
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen11" ng-focus="quickBet.showPopover(item, 11)" ng-blur="quickBet.hideAllPopover()"  />
                </td>
                <td>
                    <div class="mingci bg-lan">小</div>
                    <div class="value" ng-bind="item.Rate12">9.7</div>
                    <input type="text" class="shuru {{item.BgColor12}}" ng-model="item.Amount12" ng-change="bet.betOnChange(item, 12, item.Amount12)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false" 
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen12" ng-focus="quickBet.showPopover(item, 12)" ng-blur="quickBet.hideAllPopover()"  />
                </td>
                <td>
                    <div class="mingci bg-juhuang">单</div>
                    <div class="value" ng-bind="item.Rate13">9.7</div>
                    <input type="text" class="shuru {{item.BgColor13}}" ng-model="item.Amount13" ng-change="bet.betOnChange(item, 13, item.Amount13)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false" 
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen13" ng-focus="quickBet.showPopover(item, 13)" ng-blur="quickBet.hideAllPopover()"  />
                </td>
                <td>
                    <div class="mingci bg-lv">双</div>
                    <div class="value" ng-bind="item.Rate14">9.7</div>
                    <input type="text" class="shuru {{item.BgColor14}}" ng-model="item.Amount14" ng-change="bet.betOnChange(item, 14, item.Amount14)" 
                           input-mask data-inputmask="'alias': 'decimal', 'digits' : 2, 'allowMinus': false, 'allowPlus': false" 
                           popover-trigger="'none'" popover-append-to-body="true" uib-popover-template="'popover.html'" 
                           popover-is-open="item.PopoverIsOpen14" ng-focus="quickBet.showPopover(item, 14)" ng-blur="quickBet.hideAllPopover()"  />
                </td>
            </tr>
        </table>
    </div>

    <div class="touzhu-1">
        <div style="margin-left: 250px;">未投注方案<span ng-bind="bet.NotSavedBetItems.length">3</span>注</div>
        <div style="margin-left: 100px; margin-right: 80px;">投注金额<span ng-bind="bet.NotSavedAmount">125.00</span></div>
        <a href="javascript:;" ng-click="bet.save()">
            <img src="/img/houtai/lijitouzhu.png" class="lijitouzhu" />
        </a>
    </div>

    <div ng-show="bet.NotSavedBetItems.length > 0 || bet.SavedBetItems.length > 0 ">
        @*<ul class="z-list" ng-show="bet.NotSavedBetItems.length > 0">
        </ul>*@
        <ul class="z-list" ng-show="bet.SavedBetItems.length > 0">
            <li ng-repeat="item in bet.NotSavedBetItems">
                <span class="tab-name">【{{item.TabName}}】</span>
                <span class="a">第{{item.ChineseRank}}名</span>
                <span class="b">【{{item.NumName}}】</span>
                <span class="c">赔率：{{item.Rate}}</span>
                <span class="d">下注金额：{{item.Amount}}</span>
                <span class="e">获胜奖金：{{item.Bonus}}</span>
                <span class="f">未下注</span>
                <a href="javascript:;" ng-click="bet.removeNotSaveBetItem2($index)"><img src="/img/houtai/del.png"></a>
            </li>
            <li ng-repeat="item in bet.SavedBetItems">
                <span class="tab-name">【{{item.TabName}}】</span>
                <span class="a">[第{{item.ChineseRank}}名]</span>
                <span class="b">【{{item.NumName}}】</span>
                <span class="c">赔率：{{item.Rate}}</span>
                <span class="d">下注金额：{{item.Amount}}</span>
                <span class="e">获胜奖金：{{item.Bonus}}</span>
                <span class="f">已下注</span>
                <a href="javascript:;"></a>
            </li>
        </ul>
        <div class="touzhu-2">
            <div>
                已投注方案<span ng-bind="bet.SavedBetItems.length">2</span>注
            </div>
            <div style="margin-left: 70px;">投注金额：<span ng-bind="bet.SavedAmount">60.00</span></div>
        </div>
    </div>

</div>
<script type="text/ng-template" id="popover.html">
    <div>
        <ul class="popover-menu">
            <li ng-click="quickBet.save(10)">下注10元</li>
            <li class="divider"></li>
            <li ng-click="quickBet.save(20)">下注20元</li>
            <li class="divider"></li>
            <li ng-click="quickBet.save(50)">下注50元</li>
            <li class="divider"></li>
            <li ng-click="quickBet.save(100)">下注100元</li>
            <li class="divider"></li>
            <li ng-click="quickBet.save(null)">停用</li>
        </ul>
    </div>
</script>
